/*登录，注册页共用部分*/

/*登录，注册页共用头部*/
#header{width: 990px;margin: 20px auto;height: 50px;line-height: 50px;overflow: hidden;font-size: 14px;}
#header img{display: inline-block;vertical-align: middle;}
#header span{margin-top:5px; margin-left:10px;padding: 10px;height: 30px; border-left: 1px solid #e6e6e6;}
#header div{float: right;}
#header div a{width: 56px;height: 16px;padding: 3px 10px;color: #c00;}
#header div a:hover{color: #fff;background: #c00;text-decoration: none;}
/*登录，注册页共用尾部线*/
#border{width: 100%;border-bottom: 1px solid #CCCCCC;}
/*登录，注册页共用尾部*/
#footer{width: 990px;margin: 20px auto 40px;font-size: 12px;overflow: hidden;}
#footer a{color: #666;}
#footer img{margin: 0 10px;vertical-align: middle;height: 12px;}
#footer a.a-l{float: right;}
/*共用主体*/
#main{width: 980px;margin: 0 auto 40px;border: 1px solid #e6e6e6;overflow: hidden;}


/*登录页主体*/
/*登录页主体左边图片*/
#main .main-r-left{float: left;overflow: hidden;}
#main .main-r-left img{display: block;}

/*登录页主体右边*/
#main .main-r-right{float: right;overflow: hidden;width: 290px;margin-right: 85px;}
/*右边顶部，切换*/
#main .main-r-right p.m-r-r-top{padding-top:20px;}
#main .main-r-right .p-t-left{float: left;}
#main .main-r-right .change{float: right;font-size: 12px; color: #333;}
/*表单1*/
#main .main-r-right .form1{}
#main .main-r-right .form1{margin-top:20px;}
#main .main-r-right .p-t{height: 20px;}
#main .main-r-right input{width: 268px;height: 40px;margin-bottom: 10px;padding: 0 5px;}
#main .main-r-right .p2{float: right;font-size: 12px;}

#main .main-r-right .submit{width:280px;color: #fff;background: #df3030;border: none;border-radius: 3px;}
/*表单2*/
/*#main .main-r-right .form2{display: none;}*/
#main .main-r-right .form2{margin-top:20px;display: none;}
#main .main-r-right .form2 input.tet2{width: 170px;}
#main .main-r-right .form2 input.tet3{width: 170px;}
#main .main-r-right .form2 .authcode{width:90px ;display: inline-block;float: right;}
#main .main-r-right .form2 input.btn{width: 95px;height: 44px;border:1px solid #ccc ;background: #f2f2f2;}

/*表单底部，合作单位*/
.m-r-r-b{width:290px;overflow: hidden;margin-top: 10px;}
#main .main-r-right .p3{height:38px;float: left;line-height: 38px;}
#main .main-r-right .p3 ul{float: left;}
#main .main-r-right ul li{float:left;width: 36px; height: 36px;border: 1px solid #eaeaea;border-radius: 18px;margin-right:5px;}
#main .main-r-right .p-t-left .li1{width:34px; height:34px;background: url(../img/logo.png) no-repeat -4px -3px;}
#main .main-r-right .p-t-left .li2{width:34px; height:34px;background: url(../img/logo.png) no-repeat -54px -3px;}
#main .main-r-right .p-t-left .li3{width:34px; height:34px;background: url(../img/logo.png) no-repeat -106px -3px;}
#main .main-r-right .p-t-left .li4{width:34px; height:34px;background: url(../img/logo.png) no-repeat -154px -3px;}


/*注册页主体*/
#main .hearder{background: #fafafa;padding: 16px 0 16px 90px;margin-bottom: 30px;}
#main .hearder a{color: #999;font:16px/28px;}
/*注册页主体左边表单*/
#main .main-l{width:500px;margin: 0 90px 10px;float: left;padding-bottom: 50px;}
#main .main-l input{padding:10px 5px;font-size: 14px;border: 1px solid #ccc;width:278px}
#main .main-l .form-titlie{width: 500px;height: 40px;border-bottom: 1px solid #e6e6e6;margin-bottom: 10px;}
#main .main-l .form-titlie .f-t-t{width: 240px;height:22px;background: #fff;padding:9px 20px;border: 1px solid #E6E6E6;border-top: 2px solid #e02d2d;border-bottom: none;}
#main .main-l .form-titlie .f-t-t span{width:280px;height:22px;background: url(../img/list-phone.png) no-repeat;display: inline-block;line-height:22px;color:#e02d2d;padding-left: 20px;}
#main .main-l .f-span-l{color:#666;font-size:12px;width: 80px;text-align: right;height: 20px;display: inline-block;margin: 5px 0;}
#main .main-l .p2{width: 300px;margin-left: 80px;font-size: 12px;color: #aaa;padding: 10px 0;}
#main .main-l .f-span-r{color:#f00;font-size:12px;width: 80px;height: 20px;display: inline-block;margin: 5px 0;}
#main .main-l input.cb{padding:0;font-size: 14px;width:24px;margin: 0;border: none;}
#main .main-l input.submit{color: #fff;font-size: 14px;background: #de3030;border-radius:3px ;}
#main .main-l input.tet2{width: 170px;}
#main .main-l input.tet3{width: 170px;}
#main .main-l .s-t{color: #f00;vertical-align: middle;}
/*注册页主体右边合作单位*/
#main .main-r{width: 270px;float: right;border-left: 1px solid #ccc;}
#main .main-r p{width: 170px;margin: 5px 20px;font-size: 14px;line-height: 20px;color: #666;}